# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Databases
*.db
*.sqlite3

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/